/* Reset body and html */
body,
html {
   margin: 0;
   padding: 0;
   height: 100%; /* Full height */
   overflow: hidden; /* Prevent unwanted scrolling */
}

/* Main container for layout */
.main-container {
   display: flex;
   height: 100vh; /* Full height of viewport */
   width: 100%; /* Full width */
   background-color: whitesmoke;
   position: relative;
}
/* bg-[#FCF6F5FF] */
/* Sidebar styles */
.sidebar {
   height: 100%; /* Full height */
   position: fixed; /* Overlays on mobile */
   top: 0;
   left: 0;
   z-index: 50;
   transform: translateX(-100%); /* Hidden by default */
   transition: transform 0.3s ease-in-out;
}

.sidebar.visible {
   transform: translateX(0); /* Visible when toggled */
}

/* For larger screens (Tablet & Desktop) */
@media (min-width: 500px) {
   .sidebar {
      transform: translateX(0); /* Always visible */
      position: relative; /* Non-overlay behavior */
   }
}

@media (max-width: 650px) {
   .sidebar img,
   .sidebar h2,
   .sidebar span {
      display: none; /* Hide image, name, and text labels */
   }
}
/* Toggle button */
.toggle-btn {
   position: fixed;
   top: 1rem;
   left: 1rem;
   z-index: 100; /* Above the sidebar */
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

@media (min-width: 500px) {
   .toggle-btn {
      display: none;
   }
}

.HIDE{
   display: none;
}

